@import "variables";
@import "normalize";
@import url('https://fonts.googleapis.com/css?family=Roboto');
// Basic Styles
html,
body {
    height: 100%;
    padding: 0;
    border: 0;
}

body {
    position: relative;
    font-family: "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    color: #222;
    background-color: #f3f3f3;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga" on;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
:after,
:before {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
}

a,
input,
button {
    line-height: 1.4;
    font-family: "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
    &:active,
    &:focus {
        outline: none;
    }
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn {
    font-weight: 300;
    font-size: 16px;
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: background-color 150ms linear, color 150ms linear;
}

.btn:hover {
    outline: none;
}

.btn_blue {
    border-color: $blue-color;
    background-color: $blue-color;
    color: #fff;
}

.btn_blue:hover {
    background-color: #fff;
    color: $blue-color;
}

.btn_red {
    border-color: $red-color;
    background-color: #fff;
    color: $red-color;
}

.btn_red:hover {
    background-color: $red-color;
    color: #fff;
}

// Header Styles
.header {
    border-bottom: 1px solid transparent;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    padding: 15px;
    background-color: $blue-gray-color;
}

.header>.container {
    display: flex;
    align-items: center;
}

.logo {
    color: #fff;
    font-weight: bold;
    font-size: 26px;
    flex: auto 1 0;
    &:hover {
        text-decoration: none;
    }
}

.search {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-left: 10px;
}

.search form {
    display: flex;
    flex: auto;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.search__repository-name {
    outline: none;
    flex: auto;
    font-weight: 400;
    padding: 10px 15px;
    border: 1px solid #fff;
    border-right: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    transition: border-color 150ms linear, background-color 150ms linear;
    background-color: #fff;
    color: #222;
}

.search__submit-btn {
    border-radius: 0 3px 3px 0;
    border-color: #fff;
    background-color: #fff;
    color: #333333;
    cursor: pointer;
    font-weight: 500;
    &:hover {
        color: #fff;
        background-color: $blue-gray-color;
    }
    &:active {
        background-color: #7ea0af;
    }
}

.search__submit-btn:disabled {
    color: #cacaca;
    &:hover {
        cursor: default;
        color: #cacaca;
    }
}

// Content Layout
.gh-layout {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.gh-layout__body {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.gh-layout__content {
    margin: 0;
    width: 100%;
}

.container {
    max-width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

// Repositories List (Result after search)
.search-result {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 20px -20px 0;
}

.repository {
    width: calc(33% - 20px);
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    padding: 20px 20px;
    margin: 0 10px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    flex: auto 1 0;
}

#gh-app-repository {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.pagination {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    & a {
        text-decoration: none;
        &:hover {
            color: $blue-color;
        }
    }
}


.repository__layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.repository__col-9 {
    width: 75%;
}

.repository__col-3 {
    width: 25%;
}

.repository__col-6 {
    width: 50%;
}

.repository__col-left {
    text-align: left;
}

.repository__col-right {
    text-align: right;
}

// Repository Box Topline
.repository-top {
    display: flex;
    flex-flow: row nowrap;
}

.repository-top__left {
    text-align: left;
    padding-right: 5px;
}

.repository-top__right {
    width: 25%;
    text-align: right;
}

.repository-link {
    color: $blue-color;
    font-size: 18px;
    font-weight: bold;
}

.repository-owner,
.repository-owner a {
    font-size: 14px;
}

.repository-owner {
    margin-top: 5px;
    display: block;
}

.repository-owner a {
    color: $blue-color;
}

.repository-description {
    margin-top: 5px;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.015em;
}

.repository-pic {
    border: 1px solid #ededed;
    border-radius: 50%;
    width: 80px;
}

.repository-stats {
    margin-top: 5px;
    font-size: 14px;
}

.repository-stats__stars {
    color: $green-color;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    padding-left: 18px;
    display: inline-block;
}

.repository-stats__stars svg {
    fill: $green-color;
    position: absolute;
    top: -1px;
    left: 2px;
}

.repository-stats__issues {
    color: $red-color;
}

// Repository Box Bottomline
.repository-bottom {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
}

.repository-bottom__left {
    width: 50%;
    text-align: left;
}

.repository-bottom__right {
    width: 50%;
    text-align: right;
}

.repository-code-lang {
    font-size: 12px;
    display: block;
    font-style: italic;
}

.repository-last-update {
    font-size: 12px;
    margin-top: 5px;
    display: block;
}

.repository-delete-btn {
    position: absolute;
    border: 0;
    padding: 0;
    z-index: 2;
    top: 1px;
    right: 8px;
    cursor: pointer;
    background-color: #fff;
    color: $red-color;
    font-size: 18px;
    & svg {
        pointer-events: none;
        z-index: 1;
        & path {
            pointer-events: none;
        }
    }
}

@media screen and (max-width: 1280px) {
    .header>.container {
        flex-direction: column;
    }
    .search {
        margin: 20px auto;
    }
    .repository {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 768px) {
    .repository {
        width: 100%;
    }
}